name: Build and Deploy to Hugging Face

on:
  push:
    branches:
      - main

jobs:
  deploy-to-hf-space:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Prepare files
        run: |
          mkdir -p frontend/src
          cp preprocess.py -t frontend/src -f

      - name: Push entire repository to Hugging Face Space
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add frontend
          git commit -m "Build and deploy to Hugging Face Space"
          git push https://Kiuyha:${{ secrets.HF_TOKEN }}@huggingface.co/spaces/Kiuyha/Surabaya-Opinion-Analytics